// Fuentes
$fuente_principal: 'Outfit', sans-serif;

// Tamaño de Media Queries
$telefono: 376px;
$tablet: 767px;
$desktop: 1440px;

// Colores
$softBlue: hsl(215, 51%, 70%);
$cyan: rgb(0, 255, 247);

$darkBlueBg: hsl(217, 54%, 11%);
$darkBlueCard: hsl(216, 50%, 16%);
$darkBlueLine: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

$separacion: 5rem;